:root {
  --background-color: #fff;
  --text-color: rgb(173, 173, 173);
  --primary-color: rgb(65, 103, 178);
  --black-color: rgb(46, 47, 51);
  --white-color: #fff;
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
/* base */
a {
  color: unset;
  text-decoration: none;
}
p {
  color: var(--text-color);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 30px;
}

.product {
  margin: 0 40px;
}

/* nav */
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  font-size: 1.8rem;
}

.nav__menu-left,
.nav__logo,
.nav__menu-right {
  flex: 1;
}

.nav__menu-left {
  display: flex;
  justify-content: space-between;
}

.menu-link {
  font-weight: 450;
}
.menu-link.active {
  color: var(--primary-color);
}

.nav__logo {
  text-align: center;
}

.nav__logo img {
  cursor: pointer;
  width: 100px;
}

.nav__menu-right {
  text-align: right;
}

.nav__menu-right i {
  margin-left: 20px;
  font-size: 2rem;
  cursor: pointer;
}
/* intro-top */

.intro-top {
  padding: 70px 0;
}
.intro-top .slogan {
  margin-top: 50px;
}

.intro-top .slogan h2 {
  font-size: 5rem;
  color: var(--primary-color);
}

.intro-top .slogan p {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 50px 0;
  line-height: 2.5rem;
}

.intro-top .slogan a {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  line-height: 4.4rem;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  /* box-shadow: 0px 1px 8px 1px rgb(99 99 99 / 50%); */
}

.intro-top__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.intro-top__img-bg {
  margin-top: 1.2%;
  position: absolute;
  background-color: var(--primary-color);
  width: 74%;
  height: 83%;
  z-index: 98;
  transform: rotate(-135deg);
  border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
}

.intro-top__img-sample {
}
.intro-top__img-sample img {
  position: absolute;
  z-index: 99;
  height: 169%;
  margin-top: -169px;
}

/* about */
.about {
  margin-top: 50px;
  width: 100%;
  /* height: 100vh; */
}

.about-item {
  height: 100px;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 10px -1px rgb(99 99 99 / 50%);
}
.about-item > .row {
  height: 100%;
}

.about > .row > .col {
  margin-top: 20px;
}

.about-item-icon {
  font-size: 30px;
  color: var(--primary-color);
  line-height: 70px;
  margin-left: 10px;
}

.about-item-heading {
  font-size: 20px;
  color: var(--black-color);
  margin: 10px 0;
}

.about-item-text {
  font-size: 1.3rem;
}
/* top-selling */
.top-selling,
.top-selling h3 {
  margin: 80px 0;
  text-align: center;
  font-size: 2rem;
  color: var(--black-color);
}

/* product */

.product-img {
  height: 300px;
}

.product-info {
  display: block;
  margin-top: 20px;
}
.product-label {
  color: var(--text-color);
  font-size: 1.6rem;
}

.product-price {
  margin: 5px 0;
}
.product-price-new {
  margin-right: 20px;
  font-weight: 800;
}
.product-price-old {
  text-decoration: line-through;
  color: var(--text-color);
}

.product-buy {
  margin: 15px auto;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.8rem;
  width: 50%;
}

@media (max-width: 739px) {
}

@media (min-width: 740px) and (max-width: 1024px) {
  .intro-top__img-bg {
    margin-left: 50px;
    transform: rotate(-5deg);
    width: 87%;
    height: 76%;
  }

  .intro-top__img-sample img {
    position: absolute;
    z-index: 99;
    height: 141%;
    margin-top: -139px;
  }
}
