:root {
  --background-color: #fff;
  --text-color: rgb(173, 173, 173);
  --primary-color: rgb(65, 103, 178);
  --black-color: rgb(46, 47, 51);
  --white-color: #fff;

  --width-menu-mobile: 150px;
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  /* user-select: none; */
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s linear;
}
/* base */
a {
  color: unset;
  text-decoration: none;
}
p {
  color: var(--text-color);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 30px;
}


.product {
  margin: 0 40px;
}

.text-center {
  display: flex;
  justify-content: center;
}
/* nav */
.nav {
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  font-size: 1.8rem;
}

.nav__menu-left,
.nav__logo,
.nav__menu-right {
  flex: 1;
}
.menu__mb-icon {
  display: none;
}
.nav__menu-left {
  display: flex;
  justify-content: space-between;
}
.menu__mb-icon {
  flex: 1;
  font-size: 3rem;
}
.menu-link {
  font-weight: 450;
}
.menu-link.active {
  color: var(--primary-color);
}
.menu-link:hover {
  color: var(--primary-color);
}

.nav__logo {
  text-align: center;
}

.nav__logo img {
  cursor: pointer;
  width: 100px;
}

.nav__menu-right {
  text-align: right;
}

.nav__menu-right .bx {
  margin-left: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.nav__menu-right i:hover {
  color: var(--primary-color);
}
/* intro-top */

.slide-intro-top {
  overflow-x: auto;
  overflow: hidden;
  width: 600%;
  display: flex;
}
.slide-intro-top input {
  display: none;
}

.intro-top {
  padding: 70px 0;
  /* overflow: auto; */
  /* margin-left: 30px; */
  width: 20%;
  display: flex;
  transition: 2s;
}
.navigation-manual {
  position: absolute;
  top: 620px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation-manual .manual-btn {
  padding: 5px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
}

.navigation-manual .manual-btn:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}

/* sẽ tạo nhiều break point */
.intro-top-wraper {
  /* overflow: hidden; */
  min-width: 1350px;
  max-width: 1366px;
}
.intro-top .slogan {
  margin-top: 50px;
}

.intro-top .slogan h2 {
  font-size: 5rem;
  color: var(--primary-color);
}

.intro-top .slogan p {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 50px 0;
  line-height: 2.5rem;
}

.intro-top .slogan a {
  position: relative;
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  line-height: 4.4rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  /* box-shadow: 0px 1px 8px 1px rgb(99 99 99 / 50%); */
}

.intro-top .slogan a:hover {
  box-shadow: 0 0px 5px 1px rgba(99, 99, 99, 0.5);
  transform: translateX(5px);
}

.intro-top__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.intro-top__img-bg {
  margin-top: 1.2%;
  position: absolute;
  background-color: var(--primary-color);
  width: 50%;
  height: 87%;
  z-index: 89;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  animation: xoay 6s linear 0s infinite;
  
}

@keyframes xoay {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

.intro-top__img-sample {
}
.intro-top__img-sample img {
  position: absolute;
  z-index: 90;
  height: 146%;
  /* margin-left: -30%; */
  margin-top: -102px;
}
/* slide control */
.slide-control {
  transition: .2s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.8rem;
  margin-top: 30px;
}

.slide-control i {
  cursor: pointer;
  line-height: 2rem;
  font-size: 2.8rem;
}
.slide-control i:hover,
.slide-control i:active {
  color: var(--primary-color);
}

.slide-control .number {
  display: flex;
  user-select: none;
}

/* about */
.about {
  margin-top: 50px;
  width: 100%;
  /* height: 100vh; */
}

.about-item {
  height: 100px;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 2px 0px rgb(99 99 99 / 50%);
  transition: 0.4s;
}

.about-item:hover {
  transform: translateY(-4px);
  box-shadow: 0px 5px 10px -1px rgb(99 99 99 / 50%);
}

.about-item > .row {
  height: 100%;
}

.about > .row > .col {
  margin-top: 20px;
}

.about-item-icon {
  font-size: 30px;
  color: var(--primary-color);
  line-height: 70px;
  margin-left: 10px;
}

.about-item-heading {
  font-size: 20px;
  color: var(--black-color);
  margin: 10px 0;
}

.about-item-text {
  font-size: 1.3rem;
}
/* top-selling */
.top-selling,
.top-selling h3 {
  margin: 80px 0;
  text-align: center;
  font-size: 2rem;
  color: var(--black-color);
}

/* product */
.product-item {
  position: relative;
  margin-top: 40px;
}

.product-img-1 {
  height: 300px;
}
.product-img-2 {
  height: 300px;
  display: none;
}

.product-item:hover .product-img-1 {
  display: none;
  transition: 0.8s ease-in-out;
}

.product-item:hover .product-img-2 {
  display: block;
  transition: 0.8s ease-in-out;
}

.product-info {
  display: block;
  margin-top: 20px;
}
.product-label {
  color: var(--text-color);
  font-size: 1.6rem;
}

.product-price {
  margin: 5px 0;
}
.product-price-new {
  margin-right: 20px;
  font-weight: 800;
}
.product-price-old {
  text-decoration: line-through;
  color: var(--text-color);
}

.product-buy {
  margin: 15px auto;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.8rem;
  width: 50%;
}

/* new-product */
.new-product,
.new-product h3 {
  margin: 80px 0;
  text-align: center;
  font-size: 2rem;
  color: var(--black-color);
}

/* banner */
.banner-mid {
  height: 500px;
}
/* popular product */
.popular-product,
.popular-product h3 {
  margin: 80px 0;
  text-align: center;
  font-size: 2rem;
  color: var(--black-color);
}

/* footer */
.footer {
  font-size: 1.3rem;
  box-shadow: 0px 11px 28px 0px rgba(99, 99, 99, 0.5);
  padding-bottom: 40px;
}

.footer-item h3 {
  margin: 20px 0;
}

.footer-item p {
  line-height: 2.5rem;
  color: var(--black-color);
}

.footer-item p span {
  font-weight: 600;
}
.footer-item a {
  line-height: 2.5rem;
  display: block;
}

.footer-logo {
  margin: 20px 0;
  width: 100px;
  height: 50px;
}
.nav__menu-mobile {
  display: none;
}

@media (min-width :1200px) {
  .intro-top__img {
    margin-left: 20%;
  }
}

@media (max-width: 1024px) {
 
  input#stylebar {
    display: none;
  }
  .menu-mobile {
    left: calc(0px - var(--width-menu-mobile));
    position: absolute;
    width: var(--width-menu-mobile);
    height: 200px;
    font-size: 1.4rem;
    background-color: var(--white-color);
    margin-left: -30px;
    top: -20px;
    box-shadow: 0 8px 8px 0 rgba(99, 99, 99, 0.5);
    transition: 0.7s ease-in-out;
  }
  .menu-mobile label {
    position: absolute;
    top: 10px;
    right: 5px;
  }
  .menu-mobile i {
    color: var(--primary-color);
  }
  .menu-mobile-link {
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    /* padding: 30px; */
  }
  .menu-mobile a {
    line-height: 2.8rem;
    display: block;
  }
  #stylebar:checked ~ .menu-mobile {
    left: 0;
  }
  .menu-mobile-link a:hover {
    margin-left: 10px;
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
  }
}

/* @media (max-width: 1300px) and (min-width: 1200px) {
  .intro-top__img-bg {
    width: 68%;
    margin-top: 0px;
    height: 100%;
  }
} */

@media (min-width: 740px) and (max-width: 1024px) {
  .menu__mb-icon {
    display: block;
  }
 
  .nav__menu-left {
    display: block;
    position: absolute;
    background: #fff;
    top: 63px;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 0.2s linear;
    box-shadow: 0px 13px 8px 1px rgb(99 99 99 / 50%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .nav__menu-left.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .nav__menu-left a {
    display: block;
    padding: 10px 0;
    margin-left: 30px;
  }

  .intro-top {
    padding: 15px 0;
  }
  
  .intro-top__img-bg {
    width: 60%;
    margin-top: 50px;
    height: 58%;
  }
  .intro-top-wraper {
    /* overflow: hidden; */
    min-width: 900px;
  }
  .intro-top__img-sample img {
    position: absolute;
    height: 100%;
    margin-top: -50px;
  }
  .banner-mid {
    height: 320px;
  }

  .popular-product h3 {
    margin: 30px;
  }
}

@media (max-width: 739px) {

  .container {

    padding: 0 10px;
  }
  .menu__mb-icon {
    display: block;
  }
  .nav__menu-left {
    display: block;
    position: absolute;
    background: #fff;
    top: 63px;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 0.2s linear;
    box-shadow: 0px 13px 8px 1px rgb(99 99 99 / 50%);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .nav__menu-left.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .nav__menu-left a {
    display: block;
    padding: 10px 0;
    margin-left: 30px;
  }
  .nav__menu-right .bx {
    margin-left: 10px;
    font-size: 2rem;
    cursor: pointer;
  }
  .intro-top {
    padding: 0;
  }

  .intro-top-wraper {
    /* overflow: hidden; */
    min-width: 350px;
    max-width: 350px;
  }
  .banner-mid {
    height: 170px;
  }
}

@media (max-width:350px) {
  
  .intro-top .slogan {
    width: 85%;
  }
  .product-buy {
    padding: 0.5rem;
  }
}
